<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Knowledge Base</title>

    <link rel="shortcut icon" href="../static/images/favicon.png"/>

    <link rel='stylesheet' id='bootstrap-css-css' href='../static/css/bootstrap.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='responsive-css-css' href='../static/css/responsive.css?ver=1.0' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='pretty-photo-css-css' href='../static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css-css' href='../static/css/main.css?ver=1.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='custom-css-css' href='../static/css/custom.html?ver=1.0' type='text/css'
          media='all'/>

    <script>
        function update_score(user_id, id) {
            var score = document.getElementById(id).value;
            var httpRequest = new XMLHttpRequest();
            var url = "/updatescore?user_id=" + user_id + "&id=" + id + "&score=" + score;
            httpRequest.open('GET', url, true);//第二步：打开连接  将请求参数写在url中  ps:"./Ptest.php?name=test&nameone=testone"
            httpRequest.send();
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === 4 && httpRequest.status === 200) {
                    var text = httpRequest.responseText;
                    if (text === "Ok")
                        alert("Update Score Success!");
                    else
                        alert("ERROR")
                }
            }
        }
    </script>
</head>

<body>

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">


            <div class="logo-container">
                <!-- Website Logo -->
                <a href="/index?user_id={{ user_id }}" title="Knowledge Base Theme">
                    <img src="../static/images/logo.png" alt="Knowledge Base Theme">
                </a>
            </div>


            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li><a href="#">Knowledge List</a>
                            <ul class="sub-menu" style="display: none;">
                                <li><a href="/artlist?mode=0">Sort By Time</a></li>
                                <li><a href="/artlist?mode=1">Sort By Level</a></li>
                            </ul>
                        </li>

                        <li><a href="/add_node?user_id={{ user_id }}">ADD NODE</a></li>

                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->

        </div>
    </header>
</div>
<!-- End of Header -->

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
    <center class="search-area container">
        <h3 class="search-header">Have a Question?</h3>
        <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>


        <form id="search-form" class="search-form clearfix" method="get" action="/search" enctype="multipart/form-data"
              autocomplete="off">
            <input class="search-term required" type="text" id="s" name="s" placeholder="Type your search terms here"
                   title="* Please enter a search term!"/>
            <input class="search-btn" type="submit" value="Search"/>
            <div id="search-error-container"></div>
        </form>

        <br>

        <div style="text-align: center;">
            <input class="rec-btn" value="给我推荐" type="button"
                   onclick="window.location.href='/search_1?id={{ user_id }}&mode=1'">
        </div>
</div>
<!-- End of Search Wrapper -->



<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">

    
            <!-- start of page content -->
            <div class="span8 page-content">
                <!-- Basic Home Page Template -->
                <div class="row separator">
                    <h3 style="text-align: center">Knowledge List</h3>
                    <section class="span4 articles-list">

                        <ul class="articles">
                            {% for node in nodes_part1 %}
                                <li class="article-entry standard">
                                    <h4><a href="/details?id={{ node.id }}&user_id={{ user_id }}">{{ node.name }}</a>
                                    </h4>
                                    <span class="article-meta"><label for="{{ node.id }}">Score: </label><input
                                            id="{{ node.id }}" type="number" value="{{ node.tmp_score }}">
                                    <input value="Submit" type="button"
                                           onclick="update_score({{ user_id }},{{ node.id }})"></span>
                                    <span class="article-meta">
                                        <input value="前后续节点" type="button"
                                               onclick="window.location.href='/search_1?id={{ node.id }}&mode=0'">
                                         <input value="删除节点" type="button"
                                                onclick="window.location.href='/del_item?id={{ node.id }}&user_id={{ user_id }}'">
                                         <input value="编辑节点" type="button"
                                                onclick="window.location.href='/edit_item?id={{ node.id }}&user_id={{ user_id }}'">
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>


                    <section class="span4 articles-list">
                        <ul class="articles">
                            {% for node in nodes_part2 %}
                                <li class="article-entry standard">
                                    <h4><a href="/details?id={{ node.id }}&user_id={{ user_id }}">{{ node.name }}</a>
                                    </h4>
                                    <span class="article-meta"><label for="{{ node.id }}">Score: </label><input
                                            id="{{ node.id }}" type="number" value="{{ node.tmp_score }}">
                                    <input value="Submit" type="button"
                                           onclick="update_score({{ user_id }},{{ node.id }})"></span>
                                    <span class="article-meta">
                                        <input value="前后续节点" type="button"
                                               onclick="window.location.href='/search_1?id={{ node.id }}&mode=0'">
                                        <input value="删除节点" type="button"
                                               onclick="window.location.href='/del_item?id={{ node.id }}&user_id={{ user_id }}'">
                                        <input value="编辑节点" type="button"
                                                onclick="window.location.href='/edit_item?id={{ node.id }}&user_id={{ user_id }}'">
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>

                
                </div>
            </div>
            <!-- end of page content -->

        {% if alert_msg %}
            <script type="text/javascript">
                $(document).ready(function(){
                    alert("{{ alert_msg }}");
                })
            </script>
        {% endif %}

    </div>
</div>
<!-- End of Page Container -->

<!-- script -->
<script type='text/javascript' src='../static/js/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='../static/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='../static/js/prettyphoto/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='../static/js/jflickrfeed.js'></script>
<script type='text/javascript' src='../static/js/jquery.liveSearch.js'></script>
<script type='text/javascript' src='../static/js/jquery.form.js'></script>
<script type='text/javascript' src='../static/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='../static/js/custom.js'></script>
</body>
</html>