<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>Register</h3>
                <form class="form" action="/register" method="post" enctype="multipart/form-data">
                    <label for="email">Email:</label><input id="email" name="email" type="email">
                    <label for="password">Password:</label><input id="password" name="password" type="password">
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>